{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="robots" content="index, nofollow">
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block content %}
  <div class="content"><div class="container-fluid"><div class="row"><div class="col-lg-8 col-sm-12">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <img class="ror-id mb-1" src="/static/ror-log-small.png" alt="ROR ID">
        <a class="card-link logo-link active ember-view" href="{{ id }}">{{ id }}</a>
      </h5>
      <hr>
      <h4 class="card-title text-default">{{ name }} </h4>   
      {% for label in labels %}
        <h6 class="card-subtitle mb-3 text-muted"> {{ label['label'] }} [{{ label['iso639'] }}] </h6>
      {% endfor %}
      <div class="description font-weight-normal">
        <div class="row">
          <div class="col-md-3">Also known as:</div>
          <div class="col-md-9">
            {% for alias in aliases %} <div>{{ alias }}</div> {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">Acronyms:</div>
          <div class="col-md-9">
            {% for acronym in acronyms %} <div>{{ acronym }}</div> {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">Organization Type:</div>
          <div class="col-md-9">
            {% for type in types %}<div>{{ type }}</div>{% endfor %} </li>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h6 class="mt-3 mb-0">Links</h6>
            {% for link in links %}
              <div>
                <a target="_blank" rel="noopener" class="card-link" href="{{link}}">{{link}}</a>
              </div>
            {% endfor %}
            {% if wikipedia_url is not none %}
              <a target="_blank" rel="noopener" class="card-link" href="{{ wikipedia_url  }}">Wikipedia</a>
            {% endif %}
          </div>
          <div class="col-md-6">
            <h6 class="mt-3 mb-0">Other Identifiers</h6>
            {% for type, entry in external_ids.items() %}
              <div class="text-default">{{ type }}: {{ entry['all'] }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">Email address:</div>
          <div classs="col-md-8">
             {% if email_address is not none %}
                {{ email_address }}
             {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">IP addresses:</div>
          <div classs="col-md-8">
            {% for ip_address in ip_addresses  %}
                {{ ip_address }}
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h6 class="mt-3 mb-0">Established</h6>
            <span class="text-default">{{ established }}</span>
          </div>
          <div class="col-md-4">
            <h6 class="mt-3 mb-0">Country</h6>
            <span class="text-default">
              {{ country['country_name'] }} [{{ country['country_code'] }}]
            </span>
          </div>
          <div class="col-md-4">
            <h6 class="mt-3 mb-0">Status</h6>
            <span class="text-default">{{ status }}</span>
          </div>
        </div>
      </div>
      {% for address in addresses %}
        <hr>
        {% if address['primary'] %}
          <div class="font-weight-bold">Primary Address:</div>
        {% endif %}
        <div class="row">
          <div class="col-md-3">City, State</div>
          <div class="col-md-9">
            {{ address['city'] }}{% if address['state'] is not none %},
              {{ address['state'] }} [{{ address['state_code'] }}]
            {% endif %}
          </div>
        </div>
        {% if address['postcode'] is not none %}
          <div class="row">
            <div class="col-md-3">Postal Code</div>
            <div class="col-md-9">{{ address['postcode'] }}</div>
          </div>
        {% endif %}
        {% if address['line'] is not none %}
          <div class="row">
            <div class="col-md-3">Line</div>
            <div class="col-md-9">{{ address['line'] }}</div>
          </div>
        {% endif %}
        <div class="row">
          <div class="col-md-3">Geonames</div>
          <div class="col-md-9">
                City: <a target="_blank" rel="noopener" class="card-link" href="https://www.geonames.org/{{ address['geonames_city']['id'] }}">{{ address['geonames_city']['id'] }}</a>
                Country: <a target="_blank" rel="noopener" class="card-link" href="https://www.geonames.org/{{ address['country_geonames_id'] }}">{{ address['country_geonames_id'] }}</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">Geo-coordinates</div>
          <div class="col-md-9">
             <a target="_blank" rel="noopener" class="card-link" href="https://maps.wikimedia.org/#14/{{ address['lat'] }}/{{ address['lng'] }}">
               {{ address['lat'] }},{{ address['lng'] }}
             </a>
          </div>
        </div>
      {% endfor %}
      <hr>
      {% for relation in relationships %}
        <div class="row">
          <div class="col-md-2"> {{ relation['type'] }} </div>
          <div class="col-md-10">
                <a href="/ror/{{ relation['id'].rsplit('/', 1)[-1] }}">{{ relation['label'] }}</a> -
                <a href="{{ relation['id'] }}">{{ relation['id'] }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  </div></div></div></div>

{% endblock %}
