<html><head><title>ROR Wikidata Extension for {{ror_id}}/{{extension}}</title></head>
<body>
    <h1><a href="/wikidata">ROR Wikidata Extension</a> for {{ror_id}}/{{extension}}</h1>
    {% if extension|string() != '' %}
      <h2><a href="https://www.wikidata.org/wiki/{{extension}}">{{metadata['name']}}</a></h2>
      {% if metadata['ror_id']|string() != '' %}
        <div>ROR: <a href="https://ror.org/{{metadata['ror_id']}}">https://ror.org/{{metadata['ror_id']}}</a></div>
        {% if 'name' in ror_self %}
          <div> <b>Name in ROR:</b> {{ror_self['name']}}</div>
        {% endif %}
        {% if 'country' in ror_self %}
          <div><b>Country:</b> {{ror_self['country']['country_name']}}</div>
        {% endif %}
        {% if 'links' in ror_self %}
          <div><b>Links:</b>
          {% for link in ror_self['links'] %}
            <a href="{{link}}">{{link}}</a></li>
          {% endfor %}
          </div>
        {% endif %}
        {% if 'wikipedia_url' in ror_self %}
          <div><a href="{{ror_self['wikipedia_url']}}">Wikipedia</a></div>
        {% endif %}
      {% endif %}
    {% endif %}
    {% if children|length > 0 %}
    <h3>Children:</h3>
    <ul>
        {% for child in children %}
          <li><a href="/wikidata/{{ror_id}}/{{child['id']}}">{{child['name']}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <div>This ID has no child records.</div>
    {% endif %}

    {% if metadata['parents']|length > 0 %}
      {% if metadata['is_top_level'] %}
        {% if metadata['has_ror_parent'] %}
          <h3>Parent(s):</h3>
          {% for parent in metadata['parents'] %}
            {% if parent['ror_id']|string() != '' %}
              <div>
              <a href="/wikidata/{{parent['ror_id']}}/{{parent['id']}}">{{parent['name']}}</a>
              - ROR <a href="https://ror.org/{{parent['ror_id']}}">https://ror.org/{{parent['ror_id']}}</a>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% else %}
        <h3>Parent(s):</h3>
          {% for parent in metadata['parents'] %}
            {% if parent['ror_id']|string() != '' %}
              <div>
               <a href="/wikidata/{{parent['ror_id']}}/{{parent['id']}}">{{parent['name']}}</a>
              - ROR <a href="https://ror.org/{{parent['ror_id']}}">https://ror.org/{{parent['ror_id']}}</a>
              </div>
            {% else %}
              <div><a href="/wikidata/{{ror_id}}/{{parent['id']}}">{{parent['name']}}</a></div>
            {% endif %}
          {% endfor %}
      {% endif %}
    {% endif %}

    {% if 'name' in ror_root %}
      <h2>Extension root: <a href="/wikidata/{{ror_id}}">{{ror_root['name']}}</a> - 
      <a href="https://ror.org/{{ror_id}}">https://ror.org/{{ror_id}}</a></h2>
    {% endif %}
</body></html>
