<html><head><title>ROR Extension for {{ror_id}}/{{extension}}</title></head>
<body>
    <h1>ROR Extension for {{ror_id}}/{{extension}}</h1>
    {% if 'name' in ror_root %}
      <h2>{{ror_root['name']}}</h2>
    {% endif %}
    {% if extension in metadata %}
      <h2>{{metadata[extension]['name']}}</h2>
      {% if 'ror_id' in metadata[extension] %}
        <div>ROR: <a href="https://ror.org/{{metadata[extension]['ror_id']}}">https://ror.org/{{metadata[extension]['ror_id']}}</a></div>
        {% if 'name' in ror_self %}
          <div> <b>Name in ROR:</b> {{ror_self['name']}}</div>
        {% endif %}
        {% if 'country' in ror_self %}
          <div><b>Country:</b> {{ror_self['country']['country_name']}}</div>
        {% endif %}
        {% if 'links' in ror_self %}
          <div><b>Links:</b>
          {% for link in ror_self['links'] %}
            <a href="{{link}}">{{link}}</a></li>
          {% endfor %}
          </div>
        {% endif %}
        {% if 'wikipedia_url' in ror_self %}
          <div><a href="{{ror_self['wikipedia_url']}}">Wikipedia</a></div>
        {% endif %}
      {% endif %}
    {% endif %}
    <h3>Children:</h3>
    <ul>
        {% for child in children %}
          <li><a href="/extension/{{ror_id}}/{{child}}">{{metadata[child]['name']}}</a></li>
        {% endfor %}
    </ul>

    {% if parent != '' %}
    <h3>Parent:</h3>
    <div><a href="/extension/{{ror_id}}/{{parent}}">{{metadata[parent]['name']}}</a>
      {% if 'ror_id' in metadata[parent] %}
        - ROR <a href="https://ror.org/{{metadata[parent]['ror_id']}}">https://ror.org/{{metadata[parent]['ror_id']}}</a>
      {% endif %}
    </div>
    {% else %}
      <div>Root ROR: <a href="https://ror.org/{{ror_id}}">https://ror.org/{{ror_id}}</a></div>
    {% endif %}
</body></html>
