<html><head>
    <title>ROR Departmental Extension</title>
</head>
<body>
<h1>ROR Departmental Extension - Demo</h1>
<div>This is a demonstration of a proposed extension of the ROR research organization
identifiers, to link institutions with their sub-units in any hierarchy,
whether or not the particular sub-unit has its own ROR identifier.</div>
<div><a href="https://ror.org/">ROR main site</a></div>
<div><a href="https://github.com/ucd-library/ror-extend-demo">Github site for UCD extension</a></div>
<div>
    <h3>ROR Extension Examples:</h3>
    <ul>
        <li><a href="/extension/05rrcem69/college_of_letters_and_science">05rrcem69/college_of_letters_and_science</a> - UC Davis</li>
        <li><a href="/extension/03vek6s52/faculty_of_arts_and_sciences">03vek6s52/faculty_of_arts_and_sciences</a> - Harvard Faculty of Arts and Sciences</li>
        <li><a href="/extension/05qrfxd25/02frkq021">05qrfxd25/02frkq021</a> - Russian Academy of Sciences - Siberian Branch</li>
        <li><a href="/extension/01hhn8329/03sry2h30">01hhn8329/03sry2h30</a> - Max Planck Institute for Gravitational Physics</li>
        <li><a href="/extension/01bj3aw27/01qz5mb56">01bj3aw27/01qz5mb56</a> - US Dept. of Energy - Oak Ridge National Laboratory</li>
        <li><a href="/extension/0447fe631/03ar0mv07">0447fe631/03ar0mv07</a> - US Dept of Defense - Department of the Navy</li>
        <li><a href="/extension/04zaypm56/02dp3a879">04zaypm56/02dp3a879</a> - National Research Council of Italy - Istituto Nazionale di Ottica</li>
    </ul>
    <h3>ROR Wikidata Extension Examples:</h3>
    <ul>
       <li><a href="/wikidata/05rrcem69/">UC Davis</li>
       <li><a href="/wikidata/03vek6s52">Harvard</li>
       <li><a href="/wikidata/05qrfxd25">Russian Academy of Sciences</li>
       <li><a href="/wikidata/01hhn8329">Max Planck Society</li>
       <li><a href="/wikidata/01qz5mb56">Oak Ridge National Laboratory</li>
       <li><a href="/wikidata/04zaypm56">National Research Council of Italy</li>
    </ul>
</div>
</body></html>
