<html><head>
    <title>ROR Departmental Extension</title>
</head>
<body>
<h1>ROR Departmental Extension - Demo</h1>
<div>This is a demonstration of a proposed extension of the ROR research organization
identifiers, to link institutions with their sub-units in any hierarchy,
whether or not the particular sub-unit has its own ROR identifier.</div>
<div><a href="https://ror.org/">ROR main site</a></div>
<div><a href="https://github.com/ucd-library/ror-extend-demo">Github site for UCD extension</a></div>
<div>
    <h3>ROR Extension Examples:</h3>
    <ul>
        <li><a href="https://extendror.pythonanywhere.com/extension/05rrcem69/basic_sciences">05rrcem69/basic_sciences</a> - UC Davis, not working yet</li>
        <li><a href="https://extendror.pythonanywhere.com/extension/03vek6s52/faculty_of_arts_and_sciences">03vek6s52/faculty_of_arts_and_sciences</a> - Harvard Faculty of Arts and Sciences</li>
    </ul>
</div>
</body></html>