<html><head>
    <title>ROR Full Data</title>
</head>
<body>
<h1>ROR Full Data</h1>
<div>This pulls and displays the full metadata for a ROR research organization identifier, showing relationships, location, and other information not currently displayed in the main ROR UI.</div>
<ul>
<li><a href="https://ror.org/">ROR main site</a></li>
<li><a href="https://github.com/arthurpsmith/extendror">Github repository with the code for this demonstration site</a></li>
</ul>
<div>
    <h3>ROR Full Data Examples:</h3>
    <ul>
       <li><a href="/ror/05rrcem69">UC Davis</a></li>
       <li><a href="/ror/03vek6s52">Harvard</a></li>
       <li><a href="/ror/05qrfxd25">Russian Academy of Sciences</a></li>
       <li><a href="/ror/01hhn8329">Max Planck Society</a></li>
       <li><a href="/ror/01qz5mb56">Oak Ridge National Laboratory</a></li>
       <li><a href="/ror/04zaypm56">National Research Council of Italy</a></li>
    </ul>
</div>
</body></html>
