<html><head>
    <title>ROR Wikidata Extension</title>
</head>
<body>
<h1>ROR Wikidata Extension</h1>
<div>This is a demonstration of a proposed extension of the ROR research organization identifiers, to link institutions with their sub-units in any hierarchy, whether or not the particular sub-unit has its own ROR identifier. This particular implementation uses Wikidata item identifiers as the extension identifiers, so the full id looks something like <a href="/wikidata/05rrcem69/Q101018345"><em>05rrcem69/Q101018345</em></a>.</div>
<ul>
<li><a href="https://ror.org/">ROR main site</a></li>
<li><a href="https://ucd-library.github.io/ror-extend-demo/">Information on the ROR extension project</li>
<li><a href="https://github.com/arthurpsmith/extendror">Github repository with the code for this demonstration site</a></li>
</ul>
<div>
    <h3>ROR Wikidata Extension Examples:</h3>
    <ul>
       <li><a href="/wikidata/05rrcem69/">UC Davis</a></li>
       <li><a href="/wikidata/03vek6s52">Harvard</a></li>
       <li><a href="/wikidata/05qrfxd25">Russian Academy of Sciences</a></li>
       <li><a href="/wikidata/01hhn8329">Max Planck Society</a></li>
       <li><a href="/wikidata/01qz5mb56">Oak Ridge National Laboratory</a></li>
       <li><a href="/wikidata/04zaypm56">National Research Council of Italy</a></li>
    </ul>
</div>
<div>
<form action="/wd_search">
  <input name="query">
  <input type="submit" value="Search">
</form>
</div>
</body></html>
